{{#if desktop}}
  <div class="paper-swiper__wrap">
    {{#paper-button iconButton=true raised=true}}
      {{paper-icon 'arrow_back'}}
    {{/paper-button}}
    {{#paper-swiper/container options=(hash
       autoplay="3500"
       autoplayDisableOnInteraction=true
       slidesPerView=1
       spaceBetween=0
       centeredSlides=true
       grabCursor=true
       mousewheelControl=true
       mousewheelForceToAxis=true
       onInit=(action "initSwiper")
       onSlideChangeStart=(action "swiperChangeStart")
       ) as |swiper|}}
       {{yield (hash slide=(component 'paper-swiper/slide'))}}
    {{/paper-swiper/container}}
    {{#paper-button iconButton=true raised=true}}
      {{paper-icon 'arrow_forward'}}
    {{/paper-button}}
  </div>
{{else}}
  {{#paper-swiper/container options=(hash
     autoplay="3500"
     autoplayDisableOnInteraction=true
     slidesPerView=1
     spaceBetween=0
     centeredSlides=true
     grabCursor=true
     mousewheelControl=true
     mousewheelForceToAxis=true
     pagination=".swiper-pagination"
     paginationClickable=true
     onInit=(action "initSwiper")
     onSlideChangeStart=(action "swiperChangeStart")
     ) as |swiper|}}
     {{yield (hash slide=(component 'paper-swiper/slide'))}}
  {{/paper-swiper/container}}
{{/if}}

<div class="paper-swiper__button">
  {{#paper-button raised=true}}Get Started{{/paper-button}}
</div>
