{{#ember-wormhole to=destinationId}}
  {{paper-backdrop
    opaque=true
    class="md-dialog-backdrop"}}

  {{#paper-dialog-container class="paper-swiper-dialog-container"}}

    {{#paper-button class="hide-sm hide-xs paper-swiper-previous-button"
      iconButton=true raised=true disabled=isFirst
      onClick=(action "previousSlide")}}
      {{paper-icon "arrow_back"}}
    {{/paper-button}}

    {{#paper-dialog-inner class="paper-swiper-dialog" fullscreen=true}}

      {{#paper-swiper/container
        currentSlide=currentSlide childComponents=childComponents
        swiper=this calloutId=calloutId as |container|}}
        {{yield container}}
      {{/paper-swiper/container}}

      <div class="paper-swiper-fixed-content">
        <div id={{calloutId}} class="paper-swiper-callout"></div>

        <div class="paper-swiper-pagination">
          {{#each bullets as |b|}}
            <div class="paper-swiper-pagination-bullet {{if b.isActive "active"}}"
              onclick={{action (mut currentSlide) b.index}}></div>
          {{/each}}
        </div>
      </div>

    {{/paper-dialog-inner}}

    {{#paper-button class="hide-sm hide-xs paper-swiper-next-button"
      iconButton=true raised=true disabled=isLast
      onClick=(action "nextSlide")}}
      {{paper-icon "arrow_forward"}}
    {{/paper-button}}

  {{/paper-dialog-container}}

{{/ember-wormhole}}
